<html>
  <head>
    <title>@pageTitle@</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initail-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="padding-left: 16px;"
              >Node.js - server</a
            >
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Strona głowna</a></li>
              <li><a href="/form">Formularz</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1>@content@</h1>
        </div>
      </div>
    </div>
  </body>
</html>
